.banner {
    background-image: url(../../imgs/banner/Banner-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 278px;
}

/* .banner__title {
    color: var(--background);
    font-size: 18px;
    font-weight: 700;
    padding: 1em;
    text-align: center;
}

@media screen and (min-width: 1024px) {

    .banner__title {
        font-size: 36px;
    }
} */