hr {
    margin: 0;
}

.footer {
    align-items: center;
    background: var(--gradient-blue);
    display: flex;
    height: 104px;
    justify-content: center;
    margin-top: 1rem;
    text-align: center;

    padding: 1em;
    color: var(--text-color);
}

.footer__title {
    font-weight: 500;
    line-height: 24px;
  }

.footer__list {
    display: none;
}

@media screen and (min-width: 1024px) {
    .footer {
        align-items: flex-start;
        height: auto;
        justify-content: space-around;
        padding: 5rem 1rem;
    }

    .footer__list {
        display: block;
    }

    .footer-list__item {
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }

    .footer-list__link {
        color: var(--links-footer);
        text-decoration: none;
        margin-left: 0.6em;
    }

    .footer-list__title {
        font-size: 14px;
        color: var(--links-footer);
    }

    .footer__title {
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px) {
    .footer-list {
        border-left: 1px solid var(--links-footer);
        padding-left: 1em;
    }

    .footer {
        padding: 3em 0;
    }
}