@import url(config/reset.css);

@import url(base/variables.css);

@import url(components/index.css);


body {
    font-family: var(--font);
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
}

.container {
    align-items: center;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    color: var(--orange);
}

.subtitle {
    font-weight: 700;
    font-size: 17px;
    line-height: 26px;
    color: var(--blue);
    margin: 3em 0 2em 0;
}

.msg__subtitle {
    margin: 1em 0;
}

.text {
    font-family: var(--font);
}